:root {
  --primary-bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --time-duration: 250ms;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: inherit;
}
.logo--accent {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.btn {
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.menu-btn-open,
.menu-btn-close {
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: #000000;
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--primary-title-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header__container {
    height: 60px;
  }
}

.page-header__logo {
  margin-right: 70px;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-list__item {
  position: relative;
}
.nav-list__item:not(:first-child) {
  margin-left: 50px;
}
.nav-list__item--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--time-duration) var(--time-func);
}
.nav-list__link--current {
  color: var(--accent-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform var(--time-duration) var(--time-func);
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  .page-header__contacts-list {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--time-duration) var(--time-func);
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-btn-open {
    display: none;
  }
}

.menu-btn-open__icon {
  transition: fill var(--time-duration) var(--time-func);
}
.menu-btn-open:hover .menu-btn-open__icon, .menu-btn-open:focus .menu-btn-open__icon {
  fill: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  z-index: 2;
}

.mob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mob-container {
    width: 480px;
  }
}

.menu-btn-close__icon {
  transition: fill var(--time-duration) var(--time-func);
}
.menu-btn-close:hover .menu-btn-close__icon, .menu-btn-close:focus .menu-btn-close__icon {
  fill: var(--accent-color);
}

.mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-list__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.mob-list__link--current {
  color: var(--accent-color);
}
.mob-list__link:hover, .mob-list__link:focus {
  color: var(--accent-color);
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-list__item:first-child {
  margin-bottom: 32px;
}

.mob-contacts-list__link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mob-contacts-list__link--accent {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mob-soc-list {
  display: flex;
}

.mob-soc-list__item:not(:last-child):after {
  content: "";
  width: 22px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc-list__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.main__hero {
  margin-right: auto;
  margin-left: auto;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-top: 0;
  }
}

.features-list__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-bg-color);
}

.features-list__title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.section--changed {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .section--changed {
    display: none;
  }
}

.specification-list {
  display: flex;
  margin-left: -30px;
}

.specification-list__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.specification-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
  padding-right: 80px;
  padding-bottom: 27px;
  padding-left: 80px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.section--bg-color {
  background-color: var(--team-bg-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    margin-left: -30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(25% - 30px);
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-card {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
  border-radius: 0 0 4px 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.card-list {
  display: flex;
  justify-content: center;
}

.card-list__item:not(:first-child) {
  margin-left: 10px;
}

.card-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color var(--time-duration) var(--time-func), fill var(--time-duration) var(--time-func);
}
.card-list__link:hover, .card-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-title-color);
}

.clients-list {
  display: flex;
  margin-left: -30px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

.clients-list__item {
  flex-basis: calc(50% - 30px);
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (max-width: 1199px) {
  .clients-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(16.6666666667% - 30px);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: border-color var(--time-duration) var(--time-func), var(--time-duration) var(--time-func);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

@media screen and (max-width: 767px) {
  .page-footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    padding-right: 76px;
    padding-left: 76px;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

@media screen and (max-width: 767px) {
  .address-list {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .address-list {
    margin-bottom: 60px;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  transition: color var(--time-duration) var(--time-func);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__link--light {
  color: var(--secondary-title-color);
}

@media screen and (min-width: 1200px) {
  .page-footer__social-block {
    margin-left: 70px;
  }
}

.social-block__title,
.connect-block__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.social-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .social-list {
    margin-bottom: 60px;
    justify-content: center;
  }
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-title-color);
  transition: background-color var(--time-duration) var(--time-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .page-footer__connect-block {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-form {
    display: flex;
    align-items: center;
  }
}

.connect-form__field {
  position: relative;
  display: flex;
  align-items: center;
}

.connect-form__input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
@media screen and (max-width: 767px) {
  .connect-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .connect-form__input {
    width: 450px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .connect-form__input {
    width: 358px;
  }
}

.connect-form__text {
  position: absolute;
  top: 25%;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  transition: color var(--time-duration) var(--time-func), transform var(--time-duration) var(--time-func);
}
.connect-form__input:hover + .connect-form__text, .connect-form__input:focus + .connect-form__text {
  color: var(--secondary-title-color);
  transform: translateY(-150%);
}
.connect-form__input:not(:-moz-placeholder-shown) + .connect-form__text {
  color: var(--secondary-title-color);
  transform: translateY(-150%);
}
.connect-form__input:not(:-ms-input-placeholder) + .connect-form__text {
  color: var(--secondary-title-color);
  transform: translateY(-150%);
}
.connect-form__input:not(:placeholder-shown) + .connect-form__text {
  color: var(--secondary-title-color);
  transform: translateY(-150%);
}
@media screen and (max-width: 767px) {
  .connect-form__text {
    top: 18%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect-form__text {
    top: 18%;
    left: 100px;
  }
}

.connect-form__btn {
  position: relative;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.main__filter-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .main__filter-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main__filter-list {
    margin-bottom: 50px;
  }
}

.filter-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list__item:not(:first-child) {
    margin-left: 8px;
  }
}

.filter-list__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--team-bg-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;
  transition: background-color var(--time-duration) var(--time-func), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .examples-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list__item {
    flex-basis: calc(50% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-list__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.examples-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--time-duration) var(--time-func);
}
.examples-list__link:hover, .examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-title-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: inherit;
  transform: translateY(100%);
  transition: transform var(--time-duration) var(--time-func);
}
.examples-list__link:hover .cover-wrap__text, .examples-list__link:focus .cover-wrap__text {
  transform: translateY(0);
}

.portfolio-card {
  flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-card__title {
  margin-bottom: 4px;
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 93px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    overflow-y: scroll;
  }
}

.modal {
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg-color);
  transform: perspective(528px) rotateY(0) scale(1);
  transition: transform 500ms linear;
}
.backdrop.is-hidden .modal {
  transform: perspective(1056px) rotateY(90deg) scale(0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
  transition: var(--time-func), border-color var(--time-duration) var(--time-func), fill var(--time-duration) var(--time-func);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__text {
  display: block;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color var(--time-duration) var(--time-func);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time-duration) var(--time-func);
}
.modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__area-field {
  margin-bottom: 20px;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: border-color var(--time-duration) var(--time-func);
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border-color: var(--accent-color);
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1200px) {
  .modal-form__comment::-moz-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form__comment:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form__comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-form__check-field {
  margin-bottom: 30px;
}

.modal-form__check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .modal-form__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check-text .modal-form__check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--time-duration) var(--time-func), fill var(--time-duration) var(--time-func), border-color var(--time-duration) var(--time-func);
}
.modal-form__check:checked + .modal-form__check-text .modal-form__check-wrap {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: #ffffff;
}

.modal-form__link {
  margin-left: 2px;
  color: var(--accent-color);
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}

.modal-form__btn {
  display: block;
  padding-right: 55px;
  padding-left: 55px;
  margin-right: auto;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */