:root {
  --primary-bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --time-duration: 250ms;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}
